<div id="main-container">
	<div class="panel-menu">
		<div class="item">
			<div class="icon-item"></div>
			<div class="text-item be-white">
				<%= link_to "ADD GROUP", new_group_path, class: "middle-text no-list strong-gray"%>
			</div>
		</div>

		<div class="item">
			<div class="icon-item"></div>
			<div class="text-item be-white">
				<%= link_to "GROUPS", "/groups", class: "middle-text no-list strong-gray"%>
			</div>
		</div>
	</div>	
</div>