<div id="header-aside-left" class="be-strong-gray">
	<div class="logo-container be-aqua">
		<div>
			<div class="right" id="logo"></div>
		</div>
		<div>
			<h3 class="white">Attendance</h3>
		</div>
	</div>
	<div class="menu">
		<div class="block">
			<p class="strong-gray title-menu">--MAIN MENU--</p>
		</div>
		<div class="block selected-item">
			<div class="icon">
				<div></div>
			</div>
			<div class="text-menu">
				<%= link_to "DASHBOARD", "",class: "strong-gray no-list"%>
			</div>
		</div>
		<div class="block">
			<div class="icon"><div></div></div>
			<div class="text-menu">
				<%= link_to "GROUPS" , "", class: "strong-gray no-list"%>
			</div>
		</div>
	</div>
</div>

<div id="header-aside-right" class="be-white">
	<div class="header-content">
		<div class="info-user">
			<p class="strong-gray">attendance@tryhard.com</p>
		</div>
		<div>
			<a rel="nofollow" data-method="delete" href="/accesses/sign_out"><div class="l_out"></div></a>			
		</div>
	</div>
</div>

<div id="main_container">
	
</div>